In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('finance_data.csv')

In [15]:
df

,Company,Symbol,Year,Total Assets,Total Liabilities,Total Revenue,Net Income,Gross Profit
0,Tesla,TSLA,2023,106618,43009,96773,14974,17660
1,Tesla,TSLA,2022,82338,36440,81462,12587,17660
2,Tesla,TSLA,2021,62131,30548,53823,5644,13606
3,Microsoft,MSFT,2023,411976,205753,211915,72361,27195
4,Microsoft,MSFT,2022,364840,198298,198270,72738,24512
5,Microsoft,MSFT,2021,333779,191791,168088,61271,20716
6,Apple,AAPL,2023,352583,290437,96652,96995,29915
7,Apple,AAPL,2022,352755,302083,88531,99803,26251
8,Apple,AAPL,2021,351002,287912,95249,94680,21914

## Analyzing trends with pandas

In [26]:
df.dtypes

Company              object
Symbol               object
Year                  int64
Total Assets          int64
Total Liabilities     int64
Total Revenue         int64
Net Income            int64
Gross Profit          int64
dtype: object

In [8]:
df['Total Revenue'] = df['Total Revenue'].str.replace('$','')

In [12]:
df['Total Revenue'] = df['Total Revenue'].str.replace(',','')

In [5]:
df['Net Income'] = df['Net Income'].str.replace(',','')

In [9]:
df['Net Income'] = df['Net Income'].str.replace('$','')

In [6]:
df['Total Liabilities'] = df['Total Liabilities'].str.replace(',','')

In [7]:
df['Gross Profit'] = df['Gross Profit'].str.replace(',','')

In [14]:
df['Total Assets'] = df['Total Assets'].str.replace(',','')

## Convert object to int

In [17]:
df['Total Revenue'] = pd.to_numeric(df['Total Revenue'])

In [19]:
df['Total Assets'] = pd.to_numeric(df['Total Assets'])

In [21]:
df['Total Liabilities'] = pd.to_numeric(df['Total Liabilities'])

In [23]:
df['Net Income'] = pd.to_numeric(df['Net Income'])

In [25]:
df['Gross Profit'] = pd.to_numeric(df['Gross Profit'])

In [27]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

In [36]:
df

,Company,Symbol,Year,Total Assets,Total Liabilities,Total Revenue,Net Income,Gross Profit,Revenue Growth (%),Net Income Growth (%)
0,Tesla,TSLA,2023,106618,43009,96773,14974,17660,0.000000,0.000000
1,Tesla,TSLA,2022,82338,36440,81462,12587,17660,-15.821562,-15.940964
2,Tesla,TSLA,2021,62131,30548,53823,5644,13606,-33.928703,-55.160086
3,Microsoft,MSFT,2023,411976,205753,211915,72361,27195,0.000000,0.000000
4,Microsoft,MSFT,2022,364840,198298,198270,72738,24512,-6.438902,0.520999
5,Microsoft,MSFT,2021,333779,191791,168088,61271,20716,-15.222676,-15.764800
6,Apple,AAPL,2023,352583,290437,96652,96995,29915,0.000000,0.000000
7,Apple,AAPL,2022,352755,302083,88531,99803,26251,-8.402309,2.894995
8,Apple,AAPL,2021,351002,287912,95249,94680,21914,7.588302,-5.133112

## Replaced NaNs with 0

In [33]:
df['Revenue Growth (%)'] = df['Revenue Growth (%)'].fillna(0)

In [35]:
df['Net Income Growth (%)'] = df['Net Income Growth (%)'].fillna(0)

In [37]:
# Group by 'Company' and sum the 'Total Revenue'
total_revenue_by_company = df.groupby('Company')['Total Revenue'].sum()
total_revenue_by_company

Company
Apple        280432
Microsoft    578273
Tesla        232058
Name: Total Revenue, dtype: int64

In [ ]:
# The total revenue by Microsoft has jumped within the past 3 fiscal years from 2021-2023
# There has been a substantial increase in total revenue and gross profit for Microsoft
# Apple saw a significant net income growth from 2021-2022
# Microsoft net income growth stayed the same 
# Apple's gross profit was high at 2023 outperforming Microsoft and Tesla

In [1]:
def simple_chatbot(user_query):
   if user_query == "What is the total revenue?":
       return "The total revenue is [amount]."
   elif user_query == "How has net income changed over the last year?":
       return "The net income has [increased/decreased] by [amount] over the last year."
   # Add more conditions for other predefined queries
   else:
       return "Sorry, I can only provide information on predefined queries."

In [2]:
query = 'What is the total revenue?'
simple_chatbot(query)

'The total revenue is [amount].'

In [3]:
query = 'How has the net income changed over the last year?'
simple_chatbot(query)

'Sorry, I can only provide information on predefined queries.'

In [4]:
query = 'What is the current stock price?'
simple_chatbot(query)

'Sorry, I can only provide information on predefined queries.'

In [5]:
query = 'What was the net income growth of Apple from 2022-2023?'
simple_chatbot(query)

'Sorry, I can only provide information on predefined queries.'

This chatbot is a simple Python script designed to answer predefined financial queries. It uses logical if-else statements to match the user input with predefined questions that would return appropriate responses based on the financial data provided.

Functionality: The chatbot is configured to respond to specific financial queries such as 'What is the total revenue?' or 'How has the net income changed over the last year?' It relies on the financial data above loaded into the script, such as net income, gross profit, revenue growth %, and net income growth %. 

Limitations: The chatbot is limited to answering only the queries it has been explicitly programmed to handle. It cannot generate responses outside of this scope. It is also depended on the data above and how accurate the responses are.

Conclusion: This chatbot is a simple effective tool for answering specific financial queries based on predefined conditions. While there are limitations in flexibility, it serves as a useful prototype for more complex financial chatbot applications.